<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      
      
      <p>
        
        Are Maui Jims Sunglasses Better Than Ray Bans?
Ray Ban is a name that needs no introduction in the world of sunglasses. It has the distinction of being a cultural icon in the world of fashion, an icon that has stood the test of time (decades). The Maui Jim brand hasn't quite achieved the same status yet, though it is popular enough to warrant a comparison with the Ray Ban brand, so here we are.
Profile
The Ray-Ban brand is a high-end brand of sunglasses. It was created by Bausch & Lomb in the year 1937, for the Army Air Corporations of the United States. The company was sold for a reputed sum of $640 million in 1999 to the Luxottica Group.
Maui Jim is a brand that manufactures luxury sunglasses in Peoria, Illinois, and sells to customers across the globe. Their sunglasses come with polarized lenses that block ultraviolet light, and most of them feature sporty, ocean-based themes.

Comparison
You’ll get a range of different lenses from Ray-Ban, some more impressive than others. However, none of them can compete with lenses such as Maui Jim sunglasses carry. The majority of sunglass lenses are simply for dimming light, but Maui Jim sunglasses provide greater clarity and detail by enhancing the colors from natural light.
More so, where Ray-Ban lenses usually block UV at 400 nanometers, Maui Jim’s high-quality sunglasses can filter light up to 440nm or even higher, providing more protection for the eyes. Also, they block more glare and are generally more durable.
Placed side by side, most people prefer the view through a pair of Maui Jim sunglasses than a pair of Ray-Ban’s. Rayban, however has the bigger name and commands more respect in the fashion world. So, if you are looking for a popular brand to identify with, then Rayban will be your preferred choice.



What Sunglasses Are the Best?
A pair of sunglasses are arguably a man’s best friend. Sunglasses are a staple accessory in a person’s ensemble. Ever since they were first created, shades have been used as a fashion statement, for looking bold and sharp. Sunglasses have the power to transform a person’s overall appearance in a heartbeat. Whether you are going for the look of a cool rock star, or Tom Cruise’s Maverick in the movie Top Gun, here is our list of top 5 best sunglasses for you.

1) 
American Optical: This is a top sunglasses brand that is almost two centuries old. It was founded in 1826 by William Beecher sometime in 1826, and it is one of the longest-running eyewear brands of all time. However, it was only in 1876 that American Optical created its first pair of sunglasses. Their first sunglasses came as regular eyeglasses with multi-color tinted lenses. The American Optical brand became popular when it created the shades worn by astronaut Neil Armstrong and other members of the Apollo 11 crew.
2)
Maui Jim: Another one of the top-caliber global brands to look out for when you are shopping for your next pair of shades is Maui Jim. Its founder Jim Richards first established the company as a private entity in 1980, in Hawaii.
3)
Persol:  The Persol brand is a trusted name in the international spectacle arena. For those searching for a good pair of shades, this work of art should be top choice. Persol is touted as the only brand on par with Ray-Ban in terms of company history, as its origin can be traced back to the 19th century. Like Ray-Ban, Persol is owned by Luxottica, a big name in the fashion world.
4)
Ray-Ban: It is a no-brainer that Ray-Ban automatically sits on top of the list of the best brands for shades globally. Rayban has remained famous as a global heritage brand of high-quality, fashionable sunglasses for centuries.
5)
Oakley: Another world-renowned brand of superior sunglasses that you should own is Oakley. This company, like many others, had a humble start. In 1975, the founder James Jannard started producing motorcycle grips inside his garage. He eventually moved on to start making ski goggles and sunshades.


The Best Affordable Sunglasses
Nice sunglasses do not have to be expensive. With the help of this list, you’ll spend less on sunglasses and get way more value!
1)
Sunski Makani Sunglasses
Sunski Makani Sunglasses come with ocean-blue lenses and bright yellow frames. They are great for a summer day on the beach, and if that’s not enough, Sunski Makani shades come with maximum UV protection on its polarized lenses, a lifetime warranty, and are constructed with Sunski’s own proprietary recycled materials, as the brand’s top priority is sustainability.
2)
Arnette Fire Drill Sunglasses
Do you need sunglasses for hiking, fishing, or any other outdoor activity? If yes, you can never go wrong with these timeless Wayfarer style glasses. They're extremely functional, and of course they look great. Your choices are pretty much endless when it comes to Wayfarers glasses, so why this particular pair? Well, at just $90, these are an absolute steal, particularly since this iconic style in some brands can very well set you back $200 or more.
3)
Arnette Lizard Sunglasses, $94
Are you looking to up your street cred? If yes, the Arnette Lizard sunglasses can help you with that. Extravagant style but still very wearable, the Arnette Lizard is made of lightweight plastic and well-suited for square and oval shaped-faces.
4)
Good Vibrations Aviator Sunglasses
Al Pacino in Scarface, Tom Cruise in Top Gun, Danielle Craig as Bond in the James Bond movie. Do we need to say more? Good Vibration Aviators make a lasting impression, and you do not need the budget of a Hollywood hit movie to snatch up a pair for yourself.
5)
Barbara Sunglasses
Its subtle cat-eye frame proves that basic is anything but boring. Its sparkly, glistening body adds that little something extra without taking it over the top.
Are Expensive Sunglasses Better?
There is no better time to start thinking about getting new sunglasses for the year ahead than now. You might be wondering, should you be looking for designer sunglasses, or is it worth saving a few dollars and opting for cheaper shades instead?
Everyone knows that designer sunglasses look great and that using the right frames that fit your face perfectly will leave you the envy of all your friends. However, are they any better for your eyes than other cheaper options? Let’s examine why designer sunglasses are always worth the extra cash. Keep in mind that it isn’t just because we like wearing the same shades as Kylie Jenner. There’s actually greater value in the more expensive ones.

UV PROTECTION LEVELS
Sun shades are essential for protecting your eyes from harmful light like ultraviolet rays. Ultraviolet light is dangerous because it makes your eyes age much faster, and leaves you vulnerable to vision-related diseases. Ultraviolet light can also lead to the onset of macular degeneration, cataracts, and dangerous cancerous growths on the cornea and the eye.

If you are about to buy a pair of sunshades, regardless of the price range you are looking at, ensure to choose a pair that offers 100% protection from UV light.

Lots of cheaper brands now offer good UV protection levels. However, it’s important to note that expensive sunglasses tend to offer much more. If you choose a pricey designer shade you’ll be assured of getting a high-quality protective lens. Along with the UV protection, an expensive pair of sunglasses will offer a sharper, clearer, and much higher quality of vision with no distortion when you put them on.


MORE DURABLE FRAMES
Having examined the lenses, let’s look at the frames. Expensive sunglasses are generally a much better investment in the long run as they offer more durable frames that have been tested extensively and designed not to break or snap under pressure.

Common designers, particularly brands like Ray Ban and Maui Jim, offer warranties when you purchase frames from them. Meaning, whenever there are manufacturing defects, You can replace the frames under the warranty.

 Over time, you could have all the benefits of expensive frames without actually having to spend more money on sunglasses than you normally would in a 12-month period.

HIGHER-END DESIGN
There is no denying that sunglasses are fashion forward and look cool. A pair of sunglasses is the one accessory that makes people look better whenever they put them on.  Big-name brands are better able to invest in creating new and innovative frames and testing them to make sure they are comfortable to wear. Expensive frames tend to be ergonomically tested so as to ensure they feel as good as they appear. So, if you’re going to be wearing your sunshades all day, like many of us do during the summer time, then that high level of comfort is surely worth the extra bucks.


Are Polarized Sunglasses the Best for Your Eyes?
What exactly are polarized sunglasses? Polarized glasses have lenses with a type of filter that reflects light and helps reduce glare from snow, water, and glass, letting you see clearer. They have always been popular among people who love water sports or spend time close to water, due to the extra protection they provide for your eyes. Glasses with polarized lenses block glare from light reflecting off of water better than those with other filter types. People who spend time outdoors can appreciate the advantages of glasses with polarized lenses.
To exercise proper eye care through the use of sunshades, not just any lenses will suffice. As a matter of fact, the kind of sunglasses that you choose can make a difference of life-or-death. Lots of studies have shown that polarized sunglasses make driving measurably safer than standard tinted glasses. Now, what exactly are polarized lenses, and why are they better than standard tinted glasses?

How Polarized Sunglasses Work
If your optometrist recommends polarized lenses, it is because they’re very different from the standard tinted lenses commonly seen around. Polarized lenses cut back on glare, a phenomenon that poses problems in all seasons. Glare is essentially excessive reflection of light when it meets a horizontal surface. During winter, glare reflected from fallen snow can impede your sight. During other seasons, glare from the ocean, slick roads, the beach, and other reflective surfaces like sidewalks and buildings does the same thing.
According to statistics, polarized lenses are much safer for you, as you never know when glare will appear. In the summer time, you can hardly avoid reflective objects, and the glare they produce can cause a catastrophic eye disease. Using polarized lenses isn’t just good eye care; from a safety perspective, it’s good for both yourself and the people around you.


Differences Between Cheap and Expensive Polarized Sunglasses
If it's time to invest in a new pair of sunglasses, you might be wondering what figure you should write in your monthly budget.
If you are an avid outdoor enthusiast and you hope to do a lot of sightseeing when you're outdoors, you will benefit greatly from glasses with a higher level of resilience. Expensive polarized sunglasses come with higher quality lenses that provide sharper, clearer visions.
High-quality sunglasses are built to filter harmful or potentially dangerous high energy radiation like UVA, UVB, and HEV content under the sun. Quality sunglasses are built to maximize comfort so that excess light doesn’t strain your eye muscles. Also, they’re built tough, so they can last for extended periods.

Cheap polarized sunglasses are cheap for various reasons, but most likely, they are cheap because the manufacturers cut corners while creating them. Reducing glare, thoroughly screening out harmful rays, and being durable takes more money than a low price can guarantee you. Cheap products, experts say, are usually not regulated. Nobody verifies that they do what they promise to do. 

So, if you can afford the money and fashion is important to you, then spending more might bee the best idea. There are, however, times when it pays for everyone to go for the expensive sunglasses.

Take your hobbies into consideration. If you are an outdoor enthusiast, then you might enjoy: waterskiing, skiing, hiking, fishing etc.
One thing that will likely be very important to you is the visual component of your hobby. Expensive glasses with high-tech lenses can help you see the beauty of the world around you. Your trips will come with less eyestrain, and you’ll enjoy them better. This is why spending more on sunglasses might be a good idea for you.
There are a lot of key factors to look out for before you fork over a wad of cash for a pair of sunglasses. In the end what you need them for specifically will determine how much you should budget.

QUALITY OVER PRICE
At the end of the day, quality is what matters most. If you are unsure of what to choose, your optician can help you interpret the information on the label of the sunglasses and give you the answers you might not even know to seek. Making protection and durability your top priority will go a long way in keeping your eyes healthy and safe. 


Reasons to Switch to Wooden Glasses
So, you are in the market for a new pair of glasses, and you've heard about Wooden spectacles. You are wondering to yourself, what is the big deal with wooden glasses anyways? What is wrong with plastic or metal designer glasses? 
Spectacles are essentially a fashion piece. Since the invention of laser surgery and contact lenses, we’ve been left with fewer and fewer reasons to wear glasses. One of the main ones left is style. Glasses will always be around due to how well they express a wearer’s uniqueness, and wooden glasses excel at this. Wooden glasses provide breaks from the norm, express individualism, and have a natural, earthy look. Not to mention that they are safe for our environment.
Here are a few reasons to switch to wooden glasses;

1. Eco Friendliness 

Its main component wood is a natural renewable material and all thanks to recent advances in manufacturing processes, it needs very little processing and energy to manufacture. 

While there will be some who'd question using a natural resource for such a ubiquitous consumer product, let’s take the alternative the alternative into consideration. Metal and plastic require a humongous amount of energy to manufacture, involving fossil fuels, chemicals, and heat. On the other hand, wood on its journey to becoming wooden glasses, doesn’t.

2. Hypoallergenic 
Glasses are going to be part of your everyday life. They will most likely be the first item you pick up in the morning, and last thing you put down before going to bed. They will not only be the window your visual perception passes through, they will push against your temples which controls the main flow of blood to your brain, and rest on your nose, directly connected to your cranium. They might also sit behind your ears for as much as 12 hours a day. 
A level of contact like this, after months or years of usage, might spring up allergy reactions. With metal and cheap plastic glasses, this happens often. 
On the other hand wooden glasses are finished with 100% natural wood and plant based treatment, keeping them waterproof and sweat resistant, and ensuring that they rest easily on your face.



What to Look for When Buying Sunglasses
Summer is just around the corner. In this season, we’ll experience stronger UV rays and higher temperatures. The best way to safeguard your eyes from the sun’s dangerous UV rays is to wear sunshades. Here are some of the things to consider when buying a pair of sunglasses:

Check the UV Label
The UV protection features of a pair of sunshades are the first thing you need to consider. Ultraviolet radiation has been positively linked to pterygia formation, eye sunburns, and cataract development. Be on the lookout for a pair that has a sticker with 100-percent UV protection, or UV400 written on it.

Colored or Heavily Tinted Lenses May Not Always Provide Good Ultraviolet Protection
A lot of people think that darker sunglasses offer better safety against UV light. However, that’s not always the case. Heavily tinted or colored lenses are usually great for cutting glare and enhancing color contrast, but they may be lacking UV-blocking capabilities. A reliable way to determine your pair’s ability to protect your eyes is by checking for the UV 100-percent or UV400 sticker.

Size is Important
Oversized sunglasses are not only fashionable, they provide better coverage for your eyes. Oversized glasses prevent UV rays from entering your eyes and decreases your risk of having UV-related eye diseases.

Go for Durable Lens Materials
This summer’s warm, sunny weather makes it a perfect time for participating in different recreational activities and outdoor sports. You’ll want to look for sports sunglasses made of polycarbonate. Glasses like that are specially engineered to withstand extreme conditions and high amounts of pressure, which reduces their risk of getting broken.


Do Cheap Sunglasses Have UV Protection?
Expensive designer sunglasses are the epitome of cool. You are guaranteed to look good in them and they promise to block 100 percent of UV light, but how do cheaper sunglasses compare to these expensive ones? Will they provide less protection? The short answer is yes. 

Avoid buying cheap sunglasses that say they provide 100% ultraviolet light protection, because they probably don’t. Most cheap sunglasses will provide some level of protection against ultraviolet radiation, but it might be as low as 40%. If you go to purchase sunglasses from reputable dealers and UV 400 is written on it, it means that the sunglasses provide 100% protection against UV light. If you are still not sure, you can take it back to the store you purchased it from, they’ll most likely have a professional machinery available to test the UV protection, a machine known as UV meter.
If your sunshades are made up of CR-39 plastic, then almost 88% of the UV radiation that hits it will be absorbed. And with sunglasses that are made up of polycarbonate material, almost 100% of the UV rays that hit it will be absorbed. Most cheap sunglasses, however, use triacetate. Only about 40% of the UV rays that hits them are absorbed. Also, their lenses may be made from certain acrylic materials that only absorb UV rays partially. This is why you should favor high quality glasses over cheap ones.
To get sunglasses that offer 100% protection from UV light, ensure to buy them from reputed stores. Reputed stores will give you a guarantee card that states the lenses are 100% protected from UV light. They will also have a photometer that tells you if the lenses can protect against UV light or not.


Why Are Maui Jims Sunglasses So Good?
THE COMPANY IS TECHNOLOGY DRIVEN
The one element at the core of Maui Jim’s phenomenal success is technology. The Maui Jim brand is synonymous with superior lens technology and it is often regarded as the category trailblazer in sunshades.
Operating as a lifestyle brand, Maui Jim delivers styles that can be worn by anyone, anywhere, with a 100% polarized, gender-neutral collection that spans 150+ styles and more than 600 (SKUs) pieces. Maui Jim comfortably caters to all ages, and develops styles in every segment from fashion to sports. The brand’s fastest growing consumer is aged between 18–34 and they are developing marketing initiatives to maximize their impact and exposure within this age bracket.
Maui Jim’s goal is and always has been to deliver the world’s best spectacles, full of detail color, and clarity.
In order to achieve this, Maui Jim uses the most efficient and most expensive polarizing film to remove 99.9% of harsh light, 95% of HEV (blue light), and 100% of harmful UV. As a matter of fact, The Maui Jim brand is one of just three brands that the Skin Cancer Foundation has recommended as an effective UV filter for the skin and eyes.
Some other competitive advantages Maui Jim has are their patented lens technology and rare earth elements used to enhance natural light (instead of dimming it), increase contrast and depth perception, and bring colors to life (richer, brighter and more vibrant). Also, they have some best-in-class lens treatments such as anti-scratch, anti-reflective, oleophobic and hydrophobic coatings, and patented lens materials for unrivalled lucidity.

TOPNOTCH SERVICE 
Maui Jim’s ‘aloha spirit’ is a central pillar and philosophy embodied throughout the company. Spectacle repairs are turned around in less than 3 days and at times at no cost. Their dedicated customer service personnel (as opposed to answering machines) always answer the phones and are authorized to deal directly with all stakeholders. In terms of stock management, the company offers the trade an ‘open returns and exchange policy’. Their emails to customers start with ‘Aloha’ and end with ‘Mahalo’, which means thank you. All of these phenomenal services contribute to Maui Jim’s success. 


What Are the Best Sunglasses for Sun Glare?
Sunglasses should be a daily accessory, as they help protect your eyes, especially in summer time. But if you are bringing your sunshades along on an outing or vacation, then you should make sure they are up to the task, else it’s just a waste of effort. The best sunshades have special features to keep you comfortable and protected. Anti-scratch, polarized, and/or UV-protecting lenses are a must, along with qualities like light weight, durable, and good price.
Below are the best sunglasses for sun glare, perfect for, clumsy, fashion-forward, and active travelers.
Reks Round Lumolux
If you are prone to accidents, these are the best travel sunglasses to get. The Round Lumolux are an unbreakable pair of sunshades with UV 400 protection and anti-glare lenses. All thanks to the polymer frame material they are made with, you can drop it, bend it, or throw it however you want, this pair of travel sunglasses won’t scratch or break.

Native Eyewear Catamount
If you are planning on spending a lot of time doing outdoor activities like hiking and camping, you will want to use the interchangeable SportFlex lenses they come with. They are made for both flat light and overcast conditions. This means their performance doesn’t wane in the late afternoon or early in the morning. Another pair of lenses included with these travel sunshades is the N3 Polarized lenses. They block four times more infrared light than regular polarized lenses. Also, a lifetime warranty is offered to customers for all Native Eyewear sunglasses.

Kaenon Mather
Kaenon’s classic, aviator-style sunglasses are arguably the best sunglasses for travel because of their comfort and sleek, lightweight frames. Kaenon Mather sunglasses have hypoallergenic nose pads, polarized lenses, and come with prescription lens options. You can pick between a brown tint which is the best for sports, or black tint which is the most natural tint for lucidity.


The Best Wooden Sunglasses
As global warming becomes increasingly worse, we must try to move away from the usage of plastic in whatever way we can. One of the ways we can do this is by using wooden sunglasses, instead of those made with plastic.
Imagine millions or even billions of people all over the world making this decision, we would use a lot less plastic and that would help against global warming. Also, a lot of people find that wooden sunshades look more stylish than plastic sunshades, as they give you that natural, relaxing look.

WOODIES Polarized Walnut Wood Sunglasses
Selling for under $30 at Amazon with over 77% five-star rating, we believe these sunglasses are a really good deal. The arms are made out of natural walnut wood. That means less plastic is being used to produce these glasses.
Plus, they come with polarized lenses which fully protects against harmful UV light. The design on these pair of glasses is also fantastic and it can fit any size head thanks to its metal hinges which are very flexible.

Bamboo Wooden Sunglasses Sunnies By Cloudfield
The Bamboo Wooden Sunglasses Sunnies By Cloudfield are also available at Amazon. They come with several different lens options to go with different occasions. The Sunnies By Cloudfield have over 12 different lens options available. They are always in high demand, so they are often sold out. Its price ranges from $44-$60 depending on the lens you pick. In any case, you are guaranteed a great deal with this pair of wooden glasses.

Handmade Maple Wood Sunglasses – Hammockable
This pair of handmade maple wood sunglasses from Hammockable comes with a selection of patterns on the arms that you can choose from; Puzzle, Flower, Maple and Original/None.



What Are Category 4 Sunglasses?
If you are among those who wonder about what the various categories of sunglasses are, and what the filter on your lenses is made of, and you want to know a little more about how sunshades protect your eyes, then this article is for you.
Some of the most frequent questions on the internet about sunglasses are in regards to the tone and category of lenses.  First, let’s talk about the meaning of these categories.
It is an ISO standard called ISO 8980-3, and the acronym ISO is short for the International Organization for Standardization. An ISO standard is a standardization of products or services provided by businesses. So, when a product meets a certain standard, or in our case, when a pair of sunglasses’ filter is designed in a specific way, it’s given an ISO standard (or a category).
This means that each category or filter of sunshades has been given a specific value. This is done in order to guide buyers regarding what they are procuring.
In simple terms, a pair of sunshades’ category has to do with how dark it is and how much sunlight it can block. Since the sun is not equally intense during all seasons of the year and at all latitudes around the world, it’s advisable to wear a corresponding category of sunglasses for every season.
Category 4
Category 4 is a type of sunglasses that uses lenses with a light absorption capacity of more than 91 percent, and well up to 98 percent.
Category 4 lenses are lenses used for very specific situations involving extreme sunlight, like sailing, sports, and activities in the high mountains (snowboarding, skiing, etc.). With water or snow, sunlight reflects much more as opposed to grass or asphalt. This is why these types of activities require extra guard against exposure to sunlight.
These lenses, however, are not suitable for driving, and the cops may fine you if you wear them while you are driving an automobile.
There are numerous category 4 products being sold on Amazon with claims that they are suitable for driving. A lot of them are marketed as 'driving sunglasses'. Please note that using category 4 sunglasses when driving is extremely dangerous and should not be done in any situation.


What Are Category 3 Sunglasses?
It is easy to assume that the different tints in glasses are for no other reason than aesthetics and fashion, but that’s not true. The tint category you choose plays a primary role in the overall visual comfort you experience when you wear them. 
What are Lens Categories?
A general rule of thumb is that the lenses’ category reflects how dark they are, and so Category 4 is the darkest, while category 1 is the lightest. Category 0 is completely clear.
Category 3:
Category 3 sunglasses are the top-selling item in the world of sunglasses, and this is due to the high level of sunlight absorption it provides, about 82-90%. For the amount of light transmission it allows, the opposite figure is applied: 10-18%.
Category 3 is suitable for daytime driving and offers maximum protection against sunlight. It does a good job of preventing sunlight from bothering or blinding you.
Category 3 sunglasses are recommended for all kinds of outdoor activities, like spending a sunny day on the beach or out in the country. It is also perfect for all kinds of sports.
When looking for sunglasses with a category 3 lenses that can be worn for every occasion, go for photochromic lenses that automatically adjust to the light in your surroundings.

Are Cheap Sunglasses Bad for You?
We’ve all done it: put on a pair of cheap, funky, fun sunshades. They are great in a pinch, particularly if you forgot your regular glasses. Also, they’re budget-friendly, and even stylish. But one important question is are cheap sunglasses bad for your eyes?
The answer? Not necessarily.
As long as you are careful, you should be able to find cool, stylish sunglasses to buy and also be able to pay this month’s rent.

Important Factors to Consider When Buying Affordable Sunglasses
Most times, cheap glasses are, of course, cheap for a reason. It’s likely that they won’t be made of the quality materials you will find in expensive sunglasses. Cheap sunglasses might break or scratch more easily.
However, the most important factor to consider when buying cheap sunglasses is how well the lenses can protect your eyes from ultraviolet (UV) rays. Ultraviolet protection is key, particularly if you plan on spending a lot of time outdoors.
A good pair of sunglasses will shield your eyes well from dangerous UV light, whether or not they are expensive. However, if you’re looking at cheap sunglasses, make sure you get something that won’t hurt your eyes.
UV protection is extremely important, as ultraviolet light can damage not only your eyelids but  also the internal components of your eye, like the lens, retina, and cornea. When looking at cheap sunglasses, look for models with lenses that can:
Absorb 99 to 100% of UV light
Block anywhere from 75 to 90% of visible light
Be careful when trying to find out whether a pair of cheap sunglasses will provide the UV protection you need. Never assume anything from the label. To be 100% sure, you can take the glasses to your optometrist. He will have a device called a photometer. It can check the level of UV protection that the sunglasses provides in under 1 minute. Ensure to keep your receipt and return the glasses if they don’t pass the photometer test.

        
        
        
      </p>
      
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="https://formspree.io/{{ site.data.settings.contact-email }}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="_replyto" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Tell me about your project (and your budget)"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button type="submit" class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
